<div class="box box-solid collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Atendimento</h3>

    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
      <li><a [routerLink]="['/build-detail']">01.297.00.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.293.08.00<span class="label label-primary pull-right">14</span></a></li>
      <li><a href="builds.html">01.296.01.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">11</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">8</span></a></li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>

<div class="box box-solid collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Internação</h3>

    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="builds.html">01.297.00.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.293.08.00<span class="label label-primary pull-right">14</span></a></li>
      <li><a href="builds.html">01.296.01.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">11</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">8</span></a></li>
<li><a href="builds.html">01.296.01.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">11</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">8</span></a></li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>

<div class="box box-solid collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Global</h3>

    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="builds.html">01.297.00.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.293.08.00<span class="label label-primary pull-right">14</span></a></li>
      <li><a href="builds.html">01.296.01.00<span class="label label-primary pull-right">10</span></a></li>

    </ul>
  </div>
  <!-- /.box-body -->
</div>

<div class="box box-solid collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">Pagu</h3>

    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="builds.html">01.297.00.00<span class="label label-primary pull-right">10</span></a></li>
      <li><a href="builds.html">01.296.00.00<span class="label label-primary pull-right">8</span></a></li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>
