<section class="invoice">
  <ul class="timeline timeline-inverse">
              <!-- timeline time label -->
              <li class="time-label">
                    <span class="bg-blue">
                      10 Feb. 2014
                    </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-check bg-green"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                  <h3 class="timeline-header"><a href="#">Aprovada</a> <small>Túlio Menezes</small></h3>

                  <div class="timeline-body">
                    Com ajuda de Thiago Miranda da equipe do Faturamento Convênios,
        para solução do problema encontrado no PEP que
        envolvia o processo de Impressão da Guia TISS.
        Foi possível seguir com os Testes do Atendimento.
        Teste realizado com sucesso.
                  </div>

                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-play bg-aqua"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 08:05</span>

                  <h3 class="timeline-header no-border"><a href="#">Em teste</a> <small>Túlio Menezes</small>
                  </h3>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-pause bg-red"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 17:05</span>

                  <h3 class="timeline-header"><a href="#">Bloqueada</a> <small>Ana Paula</small></h3>

                  <div class="timeline-body">
                    Aguardando Atualização do Faturamento

                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <!-- timeline time label -->
              <li class="time-label">
                    <span class="bg-blue">
                      3 Jan. 2014
                    </span>
              </li>
              <!-- /.timeline-label -->
              <!-- timeline item -->
              <li>
                <i class="fa fa-dot-circle-o bg-yellow"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 10:30</span>

                  <h3 class="timeline-header"><a href="#">Criada</a> <small>Túlio Menezes</small></h3>

                  <div class="timeline-body">
                    Teste que envolve o SACR Ambiente Lento

                  </div>
                </div>
              </li>
              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
  </section>
