<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Produtos
  </h1>
</section>


<section class="content">


<div class="row">
  <div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">

        <!-- /.widget-user-image -->
        <h3 class="widget-user-username">Atendimento</h3>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a [routerLink]="['/build-detail']">01.296.00.00 <span class="pull-right badge bg-blue">31</span></a></li>
          <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
          <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
          <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>

  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">

          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Internação</h3>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">01.296.00.00 <span class="pull-right badge bg-blue">31</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>

  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">

          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Global</h3>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">01.296.00.00 <span class="pull-right badge bg-blue">31</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
  </div>
    <div class="row">
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">

          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Apoio</h3>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">01.296.00.00 <span class="pull-right badge bg-blue">31</span></a></li>
            <li><a href="#">01.293.08.03 <span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">01.295.00.00 <span class="pull-right badge bg-blue">12</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
  <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">

          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Pagu</h3>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li><a href="#">02.077<span class="pull-right badge bg-blue">31</span></a></li>
            <li><a href="#">02.078<span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">02.076.02<span class="pull-right badge bg-blue">12</span></a></li>
            <li><a href="#">02.076.02<span class="pull-right badge bg-blue">12</span></a></li>
            <li><a href="#">02.078<span class="pull-right badge bg-blue">5</span></a></li>
            <li><a href="#">02.076.02<span class="pull-right badge bg-blue">12</span></a></li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>

    <!-- /.col -->

  </div>
  <!-- /.row -->

</section>
